<!DOCTYPE html>
<html>
<head>
	<title>Privacy Policy - Spruce Bot</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&&family=PT+Sans+Narrow&family=Hind+Madurai&family=Pacifico&family=Bree+Serif&family=Bebas+Neue&display=swap">
    <link rel="shortcut icon" href="static/img/icn.png" type="image/x-icon">
	<style>
		body{
			font-family: poppins, sans-serif;
			padding: 10px;
		}
		p{
			margin-bottom: 20px;
		}
	</style>
</head>
<body>
	<h1>Privacy Policy</h1>
	<p>Last Update : 7 August 2023</p>
	<p>Spruce Bot respects the privacy of its users and is committed to protecting their personal information. This privacy policy explains how we collect, use, and store the data that we receive from our users.</p>

	<h2>What Information Do We Collect?</h2>
	<p>We collect personal data like email and user name which is likned to user's account.and some other data that we collect is related to tournament categories, which we use to run the tournament module. We also keep track of the number of tournaments created on the Discord server for the purpose of limiting the number of tournaments that can be created.</p>

	<h2>How Do We Use Your Information?</h2>
	<p>The information that we collect is used for the purpose of running the tournament module , checking your user status, let you to login in the page, and limiting the number of tournaments that can be created on the Discord server. We do not sell or share any of the information that we collect from you</p>

	<h2>How Do We Protect Your Information?</h2>
	<p>We use industry-standard security measures to protect your information from unauthorized access, use, or disclosure. However, no method of transmission over the internet or electronic storage is 100% secure, so we cannot guarantee the absolute security of your information. </p>

	<h2>Changes to This Privacy Policy</h2>
	<p>We reserve the right to modify or update this privacy policy at any time. If we make any material changes to this policy, we will notify our users by posting a notice on our website or by sending an email to the email address associated with their Discord account.</p>

	<h2>Contact Us</h2>
	<p>If you have any questions or concerns about this privacy policy visit our contact page or mail us at <a href="mailto:support@sprucebot.tech" target="_blank" style="color: blue;">support@sprucebot.tech</a> </p>
</body>
</html>