<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <title>Refund Policy</title>
<style>
	body{
		padding:10px;
	}
</style>
</head>
	
<body class="bg-gray-100">
  <div class="container mx-auto py-8">
    <h1 class="text-3xl font-bold mb-4">Refund Policy</h1>
    <p class="mb-4">Since the Website offers non-tangible, irrevocable goods, we do not provide refunds after 24h of the product is purchased, which you acknowledge prior to purchasing any product on the Website. Please make sure that you've carefully read the service description before making a purchase.</p>
    <h2 class="text-xl font-bold mb-2">Refund Application</h2>
    <p class="mb-4">If you want to request a refund application then just fill up the some details of refund application form (example:- your discord server id/link, payment method, your discord id/tag), and submit. after a successfull submission you'll get refund within 24h.<br>
	Note:- You'll not able to purchase prime subscription for 1 week after a successful refund.</p>
	<a href="/refund_application"> <button style="background:blue; color:#fff; padding:8px; text-align:center; border-radius:5px">Form Link</button></a>
<br><br>
	  
<h2 class="text-xl font-bold mb-2">Contact Us</h2>
<p class="mb-4">If you would like to contact us concerning any matter relating to refund application or this Refund Policy, you may send an email to:</p>
    <a href="mailto:sprucebot87@gmail.com" class="text-blue-500 hover:underline">sprucebot87@gmail.com</a>
  </div>
</body>
</html>
