<!DOCTYPE html>
<html lang="en">
<head>
    <!--[ Meta for browser ]-->
    <meta charset='UTF-8'/>
    <meta content='width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1, maximum-scale=1' name='viewport'/>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'/>
	<!--Theme Color-->
	<meta content='#fefefe' name='theme-color'/>
	<meta content='#fefefe' name='msapplication-navbutton-color'/>
	<meta content='#fefefe' name='apple-mobile-web-app-status-bar-style'/>
	<meta content='true' name='apple-mobile-web-app-capable'/>

    <title>Spruce Bot</title>
    <!-- META DETAILS, SEO CONFIGURATION -->
    <!-- LINK RESOURCES -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&&family=PT+Sans+Narrow&family=Hind+Madurai&family=Pacifico&family=Bree+Serif&family=Bebas+Neue&display=swap">
	<link href='https://hunter87ff.github.io/manifest/hg/manifest/icon-512x512.png' rel='apple-touch-icon'/>
	<link href='https://hunter87ff.github.io/manifest/hg/manifest/favicon-32x32.png' rel='icon' type='image/x-icon'/>
	<link href='https://hunter87ff.github.io/manifest/hg/manifest/favicon-32x32.png' rel='icon' type='image/x-icon'/>
	<link href='https://hunter87ff.github.io/manifest/hg/manifest/favicon-96x96.png' rel='icon' type='image/x-icon'/>
	<link href='https://hunter87ff.github.io/manifest/hg/manifest/favicon-32x32.png' rel='shortcut icon' type='image/x-icon'/>
		
    <noscript>Please Enable Javascript For This Site! Else It'll Not Work Properly!!</noscript>
	<link href='static/json/manifest.json' rel='manifest'/>
	<meta content='Spruce Bot, Everything you needed to manage Esport Tournaments' name='description'/>

</head>
<body>
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <header class="header">
        <h2 class="logo" onclick="theme_change()">SPRUCE</h2>
        <div class="menu-button" id="menu-btn" onclick="toggleMenu()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        <!--<i id="menu-btn" onclick="menu_toggle()" class="fa-solid fa-bars"></i>-->
        <ul class="nav">
            <!-- <img src="static/img/icn.png" /> --> 
            <h2 class="navlogo">SPRUCE</h2><br>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/prime"><i class="fa-solid fa-crown" style="color: #f5e056;"></i>Prime</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/invite">Invite</a></li>
            <li><a href="/support">Support</a></li>
            <li class="btn-br6"><a href="/dashboard">Dashboard</a></li>
            <div class="menu-social">
                <i class="fa-brands fa-discord" style="color: #1465f0;"></i>
                <i class="fa-brands fa-youtube-square" style="color:#fc0101 ;"></i>
                <i class="fa-brands fa-facebook-square" style="color:#0176fc;"></i>
                <i class="fa-brands fa-instagram-square" style="color:#fc016a;"></i>
                
            </div>
        </ul>
    </header>

    <section class="cont">

    <div class="type-con right" id="achivements">
        <img  title="Tournaments" src="static/img/trophy.png" class="img-100w"/>
        <p class="para">
            <span class="heading">Tournaments</span> <br>
            Spruce provides a shameless esports tournament managing experience. just a simple command is enough to create a entire tournament category. just run tourney setup command with some parameters like how much slots you want to allow then mention, slot per group and the tournament name. this simple command will create all the required channel, category, role and it'll manage them autometically within few seconds.<br>
            <span class="know-more"><a href="#">Read More</a></span></p>
    </div>


    <div class="devider-mob"></div>
    <div class="type-con left" id="features">
        <img title="Features" style="order:1;"  src="static/img/feature1.png" class="img-100w"/>
        <p class="para">
            <span class="heading">Features</span> <br>
            Spruce is basically designed for manage discord based esports tournaments of various online games, but now a day spruce can also be used for moderation, secure role, utility and music playing purpose. spruce had some features like text to speech which is totally free of cost, it can play spotify playlist, can manage tournament, not only this spruce is now able toassist you about it's features, just ask something about it's feature and spruce will assist you.<br>
            <span class="know-more"><a href="#">Read More</a></span></p>
    </div>


    <div class="devider-mob"></div>
    <div class="type-con right" id="performance">
        <img title="performance"  src="static/img/performance.png" class="img-100w"/>
        <p class="para">
            <span class="heading">Performance</span> <br>
            Spruce can automate 2h work in few seconds ,The ultimate solution for managing esports tournaments! With complete automation for group sorting, category creating, channel managing and a secure role distributing system, Spruce ensures seamless organization. Experience with the lowest latency of just 23ms, guaranteeing lightning-fast responsiveness. Elevate your esports events with Spruce Bot and enjoy unparalleled performance.<br>
            <span class="know-more"><a href="#">Read More</a></span></p>
    </div>




    <div class="devider-mob"></div>
    <div class="type-con right" id="why-us">
        <img  title="why us?" style="order:1;" src="static/img/whyus.png" class="img-100w"/>
        <p class="para">
            <span class="heading">Why Spruce?</span> <br>
            Choose Spruce bot to save your time for manage a tournament, save your time to sort group, save your time to add group roles to all the players, save your time to create channels, roles. save your time to manage them. just two command is enough to manage your entire tournament by spruce. do you know spruce publish your tournaments globally so anyone can see your tournament from anywere. spruce helps all the organizers to grow by promoting their tournaments, no matter who you are! a organization sure you can use spruce. a esports player yes you can use spruce or none of these then also you can use spruce. not only this spruce has much more features for you. this is why you should choose spruce. <br>
            <span class="know-more"><a href="#">Read More</a></span></p>
    </div>
    </section>


    <!-- Footer Start -->
    <footer>
    <div class="row">
    <div class="col about">
        <h3>Spruce Bot</h3>
        <p style="max-width: 200px;">Spruce Is An Esports Tournament Management Bot, With Some Rare Features. It Can Also Manage Server Little Bit! Like Moderation, Role, Utility, Music etc.</p>
        <div class="social" style="font-size: 40px;">
            <i class="fa-brands fa-discord" style="color: #1465f0;"></i>
            <i class="fa-brands fa-instagram-square" style="color:#fc016a;"></i>
            <i class="fa-brands fa-linkedin" style="color: #005eff;"></i>
            <i class="fa-brands fa-youtube-square" style="color:#fc0101 ;"></i>
            <i class="fa-brands fa-github-square" style="color:#797979 ;"></i>
        </div>
    </div>
    <div  class="col links" style="order:2;">
        <h3>Useful Links</h3>
        <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="/support">Support</a></li>
            <li><a href="#">Partnership</a></li>
            <li><a href="#">Advertisement</a></li>
        </ul>
    </div>
    <div class="col links" style="order:3;">
        <h3>Site Pages</h3>
        <ul>
            <li><a href="#faq">F.A.Q</a></li>
            <li><a href="/refund">Refund Policy</a></li>
            <li><a href="/terms">Terms Of Service</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
    </div>
    <div class="col subscribe" style="order:4 ;">
        <h3>Newsletter</h3>
        <div>
            <input id="email" required type="email" placeholder="Your email id here" />
            <button type="submit" id="sub-btn" onclick="subscribe()">Subscribe</button>
        </div>
    </div>
    </div>
</div>
    <div class="row copyright">
        <div class="footer-menu">  
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="#">Blog</a>
            <a href="/support">Social</a>
        </div>
        <p>Copyright &copy; 2021 SpruceBot</p>
</footer>

<script src="static/js/script.js"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2259666992563048"
     crossorigin="anonymous"></script>
</body>
</html>

