/*hunter bot css*/
*{
  padding: 0px;
  margin: 0px;
}
.div1{
  height: 60px;
  width: 100%;
  position: fixed;
  top: 1%;
  left: 1%;
  margin: 0;
  background: red;
  border-radius: 5px;
  font-family: arial;
}
.div2{
  height: 50%;
  width: 100%;
  position: relative;
}
#img_help_cmds{
  height:200px;
  width: 100%;
  position: relative;
  border-radius: 5px,black;
  padding-left: 3px;
  padding-right: 3px;
}
#cmds_btn{
  height: 40px;
  width: 90px;
  border-radius: 5px;
  background: green;
}