/*hunter bot css*/
*{
  padding: 0px;
  margin: 0px;
}
.div2{
  height: 60px;
  width: 100%;
  position: fixed;
  top: 1%;
  left: 1%;
  margin: 0;
}
.div2{
  height: 50%;
  width: 100%;
  position: relative;
}
#img_help_cmds{
  height:200px;
  width: 100%;
  position: relative;
  border-radius: 5px,black;
}